[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
clickhouse-connect = "*"
aiohttp = "*"
python-dotenv = "*"
pydantic = "*"
pydantic-settings = "*"
httpx = "*"
celery = {extras = ["beat"], version = "*"}
redis = {extras = ["hiredis"], version = "*"}
tronapi = "*"
base58 = "*"
matplotlib = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.13"
